<div class="d-flex justify-content-center mt-5">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h4 class="mb-3 text-start">Kayıt Formu</h4>

                <app-text-input [formControl]="loginForm.controls['displayName']" [label]="'İsim'"></app-text-input>
                <app-text-input [formControl]="loginForm.controls['email']" [label]="'E-posta'"></app-text-input>
                <app-text-input [formControl]="loginForm.controls['password']" [label]="'Şifre'" [type]="'password'"></app-text-input>
                
                <ul class="text-danger list-unstyled">
                    <li *ngFor="let error of errors">
                        {{error}}
                    </li>
                </ul>

                <div class="d-grid">
                    <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary mt-3">Kayıt Ol</button>
                </div>
            </div>
        </form>
    </div>
</div>