<div class="container">
    <div class="row">
        <section class="col-3">
            <h5 class="text-primary ms-3">Sırala</h5>
            <select name="" id="" class="form-select mb-4">
                <option value="">Alfabetik</option>
                <option value="">Fiyat: Artan</option>
                <option value="">Fiyat: Azalan</option>
            </select>

            <h5 class="text-primary ms-3">Markalar</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item active">An active item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            <h5 class="text-primary ms-3">Types</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item active">An active item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
        
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb-2">
                <header>
                    <span>Showing <strong>10</strong> of <strong>18</strong> results</span>
                </header>

                <div class="d-flex mt-2">
                    <input type="text" name="" id=""a class="form-control me-2">
                    <button class="btn btn-outline-primary mx-2">Ara</button>
                    <button class="btn btn-outline-success">Sıfırla</button>
                </div>
            </div>

            <div class="row row-cols-3 g-3">
                <div class="col" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
        </section>
    </div>
</div>