<header class="d-flex flex-row justify-content-between align-items-center p-1 px-4 bg-light border-bottom fixed-top shadow-sm">
    <nav class="my-2 text-uppercase align-items-center d-flex">
        <img class="logo mx-3" src="/assets/images/logo.png" alt="logo" style="max-height: 45px;"> 
        <a class="px-3 fs-5" 
            routerLinkActive="active"
            routerLink="/"
            [routerLinkActiveOptions]="{exact: true}"
            >Ana Sayfa
        </a>
        <a class="px-3 fs-5" routerLinkActive="active" routerLink="/shop">Öne Çıkanlar</a>
        <a class="px-3 fs-5" routerLinkActive="active" routerLink="/test-error">Hatalar</a>
    </nav>

    <div class="d-flex align-items-center">
        <button class="mx-2 btn btn-secondary">Giriş Yap</button>
        <button class="mx-2 btn btn-outline-secondary ">Kayıt ol</button>
        <a class="mx-3 position-relative" href="#">
            <i class="fa fa-shopping-cart fa-2x me-5 "></i>
            <div class="cart-no">5</div>
        </a>
    </div>
    
</header>


