<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 bg-white border-bottom fixed-top shadow-sm">
    <img src="/assets/images/logo.png" alt="logo" style="max-height: 70px;">  
    <nav class="my-2 text-uppercase fs-5">
        <a class="p-2 text-dark text-decoration-none" href="#">Ana Sayfa</a>
        <a class="p-2 mx-3 text-dark text-decoration-none" href="#">Öne Çıkanlar</a>
        <a class="p-2 text-dark text-decoration-none" href="#">İLETİŞİM</a>
    </nav>

    <div class="d-flex align-items-center">
        <a class="position-relative" href="#">
            <img class="me-5" src="https://img.icons8.com/?size=25&id=9671&format=png&color=000000" alt="shopping cart">
            <div class="cart-no">5</div>
        </a>
    </div>
</header>


<a href="" class="btn btn-secondary me-2">Giriş Yap</a>
<a href="" class="btn btn-outline-secondary me-3">Kayıt Ol</a>